.Accordion-panel {
    color: white;
    font-size: 16px;
    text-align: left;
    background: rgba(0,0,0,0.8);
    margin: 0;
    padding: 1em 1.5em;
    transition: fade-in .3s ease-out;
    max-width: 100%;
}

.Accordion-panel.hidden {
    display: none;
}

.Accordion-trigger {
    border: hsl(0, 0%, 30%) solid;
    border-width: 1px 0;
    color: white;
    background: rgba(0,0,0,0.8);
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 1em 1.5em;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 20px;
}

.Accordion-icon {
    border: solid hsl(0, 0%, 62%);
    border-width: 0 2px 2px 0;
    height: .5rem;
    pointer-events: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    transition: rotate .8s ease-out;
    width: .5rem;
}

.Accordion-trigger[aria-expanded="true"] .Accordion-icon {
    transform: translateY(-50%) rotate(-135deg);
}

@keyframes fade-in {
    0% { opacity: 0;  }
    100% { opacity: 1;  }
}


@keyframes rotate {
    0% { transform: translateY(-60%) rotate(45deg); }
    100% { transform: translateY(-50%) rotate(-135deg); }
}