.info {
    padding: 10px;
    color: white;
    font-size: 16px;
    text-align: left;
    background: rgba(0,0,0,0.8);
}

.info dd {
    font-weight: normal;
    float: left;
    padding: 10px;
}

.info dt {
    font-weight: bold;
    float: left;
    clear: both;
    padding: 10px;
}