#nodegraph {
    position: relative;
}

.info {
    position: absolute;
    padding: 10px;
    color: white;
    font-size: 16px;
    max-width: 400px;
    text-align: left;
    background: rgba(0,0,0,0.8);
}

.info dd {
    font-weight: normal;
    float: left;
    padding: 10px;
}

.info dt {
    font-weight: bold;
    float: left;
    clear: both;
    padding: 10px;
}

.instructions {
    position: absolute;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 30%;
    padding: 20px;
    color: white;
    font-size: 16px;
}